<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thespa">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".product_details_activity.ProductOfProductsActivity"></activity>
        <activity android:name=".product_details_activity.ProductDetailsActivity" />
        <activity
            android:name=".products_activity.ProductsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".cart_activity.CartActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".beauticians_activity.BeauticiansActivity" />
        <activity android:name=".Offers.OffersActivity" />
        <activity
            android:name=".services_activity.ServicesActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".home_activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".main_activity.MainActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>